/**
  布局样式
 */
 .layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > .header {
        height: 50px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: solid 1px var(--el-menu-border-color);

        & > .el-button + .el-button {
            margin-left: 0;
        }

        & > .right {
            margin-left: auto;
            white-space: nowrap;
        }
    }

    & > .container {
        flex: 1;
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    & > .footer {
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        & > .el-button + .el-button {
            margin-left: 0;
        }

        & > .right {
            margin-left: auto;
        }
    }
}

// 滚动条样式
::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
    background-color: #fff;
}

/*定义滑块 */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #b3b3b3;
    border-radius: 10px;
}