/**
  布局样式
 */
 .layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > .header {
        height: 50px;
        // padding: 0 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: solid 1px var(--el-menu-border-color);

        & > .el-button + .el-button {
            margin-left: 0;
        }

        & > .right {
            margin-left: auto;
            white-space: nowrap;
        }
    }

    & > .container {
        flex: 1;
        // padding: 0 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    & > .footer {
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        & > .el-button + .el-button {
            margin-left: 0;
        }

        & > .right {
            margin-left: auto;
        }
    }
}